.content{
    padding: 40px 40px;
    text-align: center;
}

#quizTitle{
    height: 50px;
    width: 80%;
    border: none;
    border-bottom: 1px solid;
}

#option{
    height: 50px;
    width: 50%;
    border: none;
    border-bottom: 1px solid;
}

.btn-default{
   background: linear-gradient(60deg, #071a5a, #152580, #2d3ebd, #1f2e86, #071a5a);
   border-radius: 180px;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
}

.title{
    background-color: bisque;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: 100px;
}